# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env/
venv/
ENV/
env/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Pytest
.cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# GitHub
.github/
.